*, ul, li h1, h2, h3, h4, p { margin: 0; padding: 0; list-style: none; } 

/* body { background-color: beige; } */
body {
    background-image: url('https://source.unsplash.com/category/nature/1600x900');
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

h1 { margin: 15px 0; }
h2 { margin: 15px 0; }
h3 { margin: 15px 0; }
h4 { margin: 15px 0; }
p { margin: 15px 0; }

#day { font-size: 41px; color: #fff; text-shadow: 3px 3px 10px #333; }
#clock { width: 380px; margin: 0 auto; font-size: 101px; color: #fff; text-shadow: 3px 3px 10px #333; }
#loginForm, #toDoForm { width: 300px; height: 41px; margin: 5px 0; padding: 5px 0; }
#loginForm input::placeholder, #toDoForm input::placeholder { font-size: 17px; color: #fff; text-shadow: 1px 1px 3px #333; text-align: center; }
#loginForm input, #toDoForm input { width: 300px; height: 41px; padding: 0 6px; font-size: 31px; line-height: 41px; color: #fff; background: rgba(255, 255, 255, 0.2); border: 0; border-bottom: 2px solid #fff; border-radius: 3px; box-shadow: 0px 1px 10px 0px #777; outline: none; }

#toDoList { }
#toDoList li { margin: 2px 0; padding: 3px 0; background: none; }
#toDoList li span { font-size: 25px; color: #fff; text-shadow: 1px 1px 5px #333; }
#toDoList li button { background: none; border: none; margin-left: 10px; }

#topSection { width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
h1#greeting { margin: 10px auto; font-size: 21px; color: #fff; text-shadow: 3px 3px 10px #333; }
#weather { width: 160px; margin: 20px auto; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around; font-size: 21px; font-style: italic; color: #fff; text-shadow: 3px 3px 10px #333; }
#weather span { }

#quote { width: 100%; margin: 20px 0; }
#quote span { color: #fff; display: block; text-align: center; }
#quote span:first-child { padding: 10px 0 0px; line-height: 41px; font-size: 21px; }
#quote span:last-child { padding: 0px 0 10px; line-height: 31px; font-size: 17px; }